service cloud.firestore {
  match /databases/{database}/documents {
    function isPublicOrAdmin() {
        return isAdmin() || isPublic();
    }

    function isPublic() {
        return resource.data.visibility == 'public'
    }

    function isAdmin() {
        return request.auth.uid == resource.data.admin;
    }

    function isAuthenticated() {
        return request.auth.uid != null;
    }

    function isParticipant() {
        return resource.data.participants[request.auth.uid] != undefined;
    }

    function isUserData() {
        return resource.data.uid == request.auth.uid;
    }

    // TODO this needs more work
    match /bets/{bet} {
       allow read: if isAuthenticated() || isPublic();
       allow write: if isAuthenticated();
    }

    match /users/{user} {
        allow read: if isAuthenticated();
        allow create: if isAuthenticated();
        allow update: if isUserData();
        allow delete: if isUserData();
    }
  }
}